// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("banner.jpg");
}

img.iconimg {
  width: 45%;
  margin: 28px auto;
  display: block;
  text-align: center;
}

.banner h1 {

  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 58px;
}

.user-container {
    margin-top: 30px;
    padding: 50px 0px;
}



.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.row.home h4 {
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

img.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}
.homepage .row {
  padding:40px 0px;
}
