// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

img.iconimg {
  width: 45%;
  margin: 28px auto;
  display: block;
  text-align: center;
}

.banner h1 {

  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 58px;
}

.user-container {
    margin-top: 30px;
    padding: 50px 0px;
}



.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.row.home h4 {
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

img.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border: 5px solid white;
    box-shadow: 0px 0px 13px 0px #e8e8e8;
}

.homepage .row {
  padding:40px 0px;
}

.carousel-inner .photobooth {
  position: absolute;
  z-index: 6;
  width: 275px;
  top: -60px;
  left: -20px;
  transform: translate(20px, -426px) rotate(0);
  transition: transform .5s;
  &:hover {

  }
  &.show {
    transform: rotate(-7deg);
  }
}

.carousel-inner{
  height: 60vw;
  overflow: hidden;
}

.carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.carousel-inner:after {
  content: "";
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  position:absolute;
}
.carousel-item {
background-color: gray;
}

.banner-content {
  position: absolute;
  top: 37%;
  bottom: 0;
    z-index: 6;
    left: 320px;
    right: 0;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    text-align: left;
    h1 {
    color: white;
    font-size: 54pt;

    }
    h3 {
    color: white;
    font-size: 26pt;
    }
}
span#typed {
   color: white;
    font-size: 30pt;


}
