

.card-footer ul {
  margin:0px;
}


.toggle h1 span {
    color: #91d921;


}


.toggle h1 {
      line-height: 58px;
  }

  @media(max-width: 575px) {
    .toggle {

      h1 {
      font-size:25px;
      line-height:45px;
      }


    }
  }
