
<div class="container">
  <h1>Say hi!</h1>
  <% @receiver = @conversation.users.where.not(id: current_user.id) %>
  <% if messages.present? %>
    <%= link_to new_user_playdate_path(@receiver.first), class: "playdate_invite" do %>
      <%= image_tag "kids.png", class: "iconimg" %>
      Plan a playdate!
      <% end %>
  <% end %>


  <% if messages %>
    <ul class="chat">
      <div class="panel-body" id="messages">
        <% render partial: './messages/message', collection: messages %>
      </div>

    </ul>
  <% else %>
    <p>Start a conversation!</p>
  <% end %>

  <%= render '/messages/form', message: Message.new, conversation: conversation, user: current_user %>


</div>



