<div class="container">
  <div class="subscr-blok">
    <h2>Ready to start a new conversation?</h2>
    <%= simple_form_for [@user, @conversation] do |f| %>
      <%= f.submit "Yes!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
