.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
}

a.btn.return {
    border: 1px solid #c7c7c7;
    color: #696969;
    margin: 20px 0px 0px 20px;
}


a.btn.btn-trans {
    border: 1px solid #acdc17;
    color: #acdc17;
}

a.btn.btn-trans:hover {
    background: #acdc17;
    color: white;
}
