.chatprofilebox {
  position:relative;
  display: flex;
  align-items:center;
  justify-content:center;
}

img.notification {
    position: absolute;
    top: 34px;
    right: 20px;
    width: 26px;
}

.chat .form {
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    left: 400px;
    padding: 10px;
}

.sidenav li.active {
    background: #242424;
}

#contentchat {
  padding-bottom:60px;
}

#chatbox .form-group {
    margin-bottom: 1rem;
    width: 70%;
    float: left;
}

.chatbox .container {
  margin-bottom:60px
}

form#new_message {
    display: flex;
}

.convo {
    display: flex;
    justify-content: flex-end;

    .chatbulb {
      background:#8cd923;
    }
}

.convo.message-received {
    display: flex;
    justify-content: flex-start;
}

.convo.message-received .chatblub {
    background: white;
    color: inherit;
}

.convo.message-sent .chatblub {
  background: #91d921 !important;
  color: white;
}


.chat .avatar-large {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}


ul.chat {
  margin:0px;
  padding:0px;
  list-style: none
}

.chat .convo .chatblub p {
  margin:0px;
}
.chat .convo .chatblub {
    background: white;
    padding: 20px;
    border-radius: 4px;


    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
}


span.username {
    color: darkgrey;
    margin: 4px 0px 20px 0px;
    display: block;
}



a.playdate_invite {
  margin-left:10px;
}


#chat-profile {
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #232323;
    overflow-x: hidden;
    padding: 140px 30px 30px 30px;


}




.chatopen {
  width: 350px;
  left: 300px;

}

.chatclosed {
  left: 300px;
  width: 10px;
}

.chatclosed a.userlink {
  display:none;
}


#chat-profile a {
    color: inherit;
    text-decoration: none;
}
#chat-profile .usercards{
  -webkit-box-shadow: 0px 0px 33px 0px black;
  -moz-box-shadow: 0px 0px 33px 0px black;
  box-shadow: 0px 0px 33px 0px black;

}
#chat-profile .card-image {
  background-size:cover;
  height:200px;
  transition: .3s;
}

.chatprofnav {
    position: absolute;
    left: 17px;
    top: 90px;
}

.chatprofnav a {
    font-size:30px;
    color: #b3b3b3;
}

.chatprofnav a:hover {
    font-size:30px;
    color: #8cd923;
}

#contentchat .form {
  left:650px;
  padding:30px;
  display:flex;

}

.chatcontentclosed {
  margin-left: 364px !important;
}

.chatcontentclosed .form {
left: 360px !important;
}

.chatprofilebox .notification {
position: absolute;
top: 50%;
transform: translateY(-50%);
right:20px;
margin-top: -6px;
}

.chatprofilebox.active .notification {
  display:none;
}


.formulier {
  flex-grow: 3;
}

.main.chat {
  margin-left: 650px;

}


.rejectplaydate i {
  transform: rotate(45deg);

}


.chat .btn-secondary {
    background: none;
    border: 1px solid #4AB5FF;
    color: #4AB5FF;
    margin-left: 10px;
}



.destroyit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 0px !important;


    a {
        border: 0px;
        padding: 0px;
        font-size: 14px;
        transition: .3s;
        opacity: .2;
    }
    a:hover {
      opacity: 1;
    }
}

.btn.playdate_invite {
    background: #20d029;
    border: 1px solid #20d029;
}

@media(max-width: 824px) {

  .destroyit  {
    display:none;
  }

  .chatblub {
      word-break: break-all;
  }

  .sidenav {
      height: 100%;
      width: 124px;
      a.chatlink p {
          display: none;
      }
  }

  .chatclosed {
      left: 120px;
  }

  .chatopen {
      width: 100%;
      left: 124px;
  }

  .chatcontentclosed {
      margin-left: 180px !important;
  }

  .chatcontentclosed .form {
      left: 180px !important;
  }

  #contentchat .form {

      display: inherit;
  }
  .linkplay .btn.btn-primary {
    background: #4AB5FF;
    border: 1px solid #4AB5FF;
    margin-top: 12px;
    float: right;
  }

  .chat-profile {
    padding:140px 140px 50px 30px;
  }
}

@media(max-width: 590px) {
  .chatlink .avatar-large {
    width:50px;
    height:50px;
  }

  .sidenav {
      width: 76px;
  }
  #chat-profile {
    padding:140px 21px 30px 30px;
  }
  .chatclosed {
      left: 76px;
      .chatprofnav {

          left: 9px;
      }
  }

  .chatcontentclosed {
      margin-left: 77px !important;
      .form {
      left: 78px !important;
      }
  }

  .chatbox .container {
      padding: 25px;
  }

  #contentchat .form {
      left: 650px;
      padding: 10px;
  }

  .chatprofilebox .chatlink {
    padding:12px 10px;
  }

  .chatopen {
      left: 74px;
      width: 250px;
  }
  #chat-profile {
    display: none;
  }
}
