
.chat .form {
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    left: 400px;
    padding: 10px;
}



.chat .form-group {
    margin-bottom: 1rem;
    width: 70%;
    float: left;
}
