  .subscr-blok {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    width:90%;
  }
.assoc-columns {
  grid-template-columns: 1fr 1fr;
  display: grid;
 fieldset {
  display: contents;
  legend {
    display: none;}
}

}
