.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  img {
    width:100%;
  }
}

#map {
  height: 500px;
  grid-column-start: 0;
  grid-column-end: 5;
  margin-bottom:40px;
}

.marker_svg {
  path {
    fill: #43d037;
  }
}
