.avatar.dropdown-toggle {
  margin-left:20px;
}

h2.logo {
    font-size: 37px;
    color: #91d921;
    margin: 0px;
}

a.nav-link {
  transition: .3s;
}

a.nav-link.active {
  color: #84ca19 !important;
}

a.nav-link:hover {
  color: #84ca19!important;
}



.navbar-lewagon {


    -webkit-box-pack: justify;
    justify-content: space-between;
    background: white;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #e4e4e4;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: black
}
.navbar-lewagon .navbar-brand img {
  width: 140px;
}
.transparant {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: #00000000;
  border: 0px;
  justify-content: flex-end;
   .navbar-brand{
    visibility: hidden;
   }

}

.transparant a.nav-link{
  color:white !important;

}

.nav-item.messages .nav-link {
  display:flex;
}
a.nav-link {
  font-family:$headers-font;
}

.notification {
    background: red;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item .notification {
    margin-left: 6px;
}

.nav-item {
  position:relative;
}

@media(max-width: 575px) {

  .main h1 {
    font-size: 26px !important;
  }

  .main h4 {
    font-size:20px;
  }
  .transparant {
    z-index:9;
    a.nav-link, .nav-item.dropdown {
      color:black !important;
      background: #ffffff;
      padding:20px;
    }
    .navbar-toggler {

        background: white !important;
    }

  }
}
