.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 9999;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link{
  color: $green;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: white;
}
.navbar-lewagon .navbar-brand img {
  width: 140px;
}
.transparant {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #00000000;
  border: 0px;

}
