.card-image-profile {
    height: 450px;
    background-position: center;
    background-size: 100%;
    transition:all .3s;
    width: 100%;
}

.profile-info {

  display: flex;
  justify-content: space-around;
}

.profile-details{
  padding: 25px;
  font-weight: bold;
}

.profile-bio{
  padding-right: 25px;
}

.profile-email{
  margin-top: 40px;
}

.profile-bio h3 {
  font-weight: bold;
}

.child-bio {
  margin-top: 20px;
}
