.card-image-profile {
    height: 450px;
    background-position: center;
    background-size: 100%;
    transition:all .3s;
    width: 100%;
}

.profile-info {

  display: flex;
  justify-content: space-around;
}

.profile-details{
  padding: 25px;
  font-weight: bold;
}

.profile-bio{
  padding-right: 25px;
}

.profile-email{
  margin-top: 40px;
}

.profile-bio h3 {
  font-weight: bold;
}

.child-bio {
  margin-top: 20px;
}


.location {
    opacity: 0.4;
    margin-bottom:20px;
}
.buttons {
  margin:20px 0px;
}
.profile-image {
    width: 100%;
    padding-bottom:100%;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 12px solid white;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 13px 0px rgba(232,232,232,1);
}

ul.interestlist {
  display:flex;
  justify-content: space-between;

  li {
    list-style-type: none;
  }
}

.profile {
  padding:40px 0px;
}
