// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.container {
  margin-top:60px;
}

body {
background-color: #f0f0f0;
background-image: url("geometry.jpg");
background-attachment: fixed;
color: #777777;
}

.notexture {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #232323;
}

