<div class="container">
  <div class="subscr-blok">
    <% @user = User.find(params[:user_id]) %>
    <h2>Write a message in their guestbook</h2>
    <%= simple_form_for [@user, @playdate, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
    <% end %>
  </div>
</h1>
